<html xmlns:th="http://www.thymLeaf.org">
	<head>
		<title>ThymLeaf</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="./css/th.css">
	</head>
	<body>
		<h1>ThymLeaf 연습 페이지</h1>
		<h2 class="thymLeaf_css" th:text="${greeting2}"></h2>
		
		<hr>
		
		<h3>Peach</h3>
		<img src="./image01/fruit01.jpg" width="150" height="100" alt="Peach">
		<h3>Apple</h3>
		<img src="./images02/fruit02.jpg" width="150" height="100" alt="Apple">
	</body>
</html>